<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: layout(~{::title}, ~{::section})">
<head>
    <title>Strona główna | Głodny student</title>
</head>
<body>
<section class="my-2">
    <h1 class="display-4">Lodówka</h1>
    <div>
        <button type="button" class="btn btn-primary">Dodaj nowy produkt</button>
        <button type="button" class="btn btn-outline-primary">Zarządzaj jednostkami miary</button>
    </div>
</section>
<section class="my-2">
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Ziemniaki
            <span>Ilość <span class="badge bg-info badge-pill">14 kg</span></span>

            <div class="btn-group" role="group">
                <button type="button" class="btn btn-success btn-sm">Zwiększ ilość</button>
                <button type="button" class="btn btn-outline-primary btn-sm">Edytuj</button>
                <button type="button" class="btn btn-outline-danger btn-sm">Usuń</button>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Ziemniaki
            <span>Ilość <span class="badge bg-danger badge-pill">0 kg</span></span>

            <div class="btn-group" role="group">
                <button type="button" class="btn btn-success btn-sm">Zwiększ ilość</button>
                <button type="button" class="btn btn-outline-primary btn-sm">Edytuj</button>
                <button type="button" class="btn btn-outline-danger btn-sm">Usuń</button>
            </div>
        </li>
    </ul>
</section>
</body>
</html>