<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: layout(~{::title}, ~{::section})">
<head>
    <title>Strona główna | Głodny student</title>
</head>
<body>
<section class="my-2">
    <h1>Lodówka</h1>
</section>
<section th:replace="pages/ingredient/ingredientForm::ingredientForm"></section>
<section class="my-2">
    <ul class="list-group">
        <li class="list-group-item justify-content-between d-flex align-items-center"
            th:each="fridgeItem: ${ingredients}"
        >
            <div class="d-inline-flex align-items-center">
                <span th:text="${fridgeItem.name}"></span>

                <span class="badge bg-info badge-pill mx-5">
                    <span th:text="${fridgeItem.amount}"></span>
                    <span th:text="${fridgeItem.unitShortName}"></span>
                </span>

            </div>
            <div class="btn-group" role="group">
                <a class="btn btn-outline-primary btn-sm" th:href="@{/fridge/edit/{id}(id=${fridgeItem.id})}">Edytuj</a>
<!--                <button type="button" class="btn btn-outline-danger btn-sm">Usuń</button>-->
            </div>
        </li>
    </ul>
</section>
</body>
</html>