<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: layout(~{::title}, ~{::section})">
<head>
    <title>Strona główna | Głodny student</title>
</head>
<body>
<section>
    <div class="d-flex flex-column align-items-center justify-content-center" style="height: 70vh">
        <img th:src="@{/assets/bug_fixing.svg}" style="height: 400px; width: auto">
        <h1 class="display-2">Oops...</h1>
        <h4 class="mb-5">Nie można wyświetlić tej strony</h4>
        <a th:href="@{/}" class="btn btn-success">Powrót do strony głównej</a>
    </div>
</section>

</body>
</html>