<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, content)">
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}"></title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

</head>
<body>

<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
    <section th:replace="${content}">
        <p>Layout contents</p>
    </section>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>