<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, content)">
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}">Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>

<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
    <section th:replace="${content}">
        <p>Layout contents</p>
    </section>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>