<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: layout(~{::title}, ~{::section})">
<head>
    <title>Jednostki miary | Głodny student</title>
</head>
<body>
<section class="my-2">
    <div class="w-100">
        <h1 class="display-4">Jednostki miary</h1>
    </div>
</section>
<section class="my-2 card w-50 shadow-sm bg-white">
    <div class="card-body">
        <form action="#" th:action="@{/units/save}" th:object="${unit}" method="POST">
            <h3 th:text="${newUnit} ? 'Nowa' : 'Edycja'"></h3>
            <input type="hidden" th:field="*{id}">
            <div class="form-group mb-3">
                <label for="unitName">Nazwa jednostki</label>
                <input type="text" th:field="*{name}" class="form-control" id="unitName" aria-describedby="unitHelp"
                       placeholder="Nazwa jednostki">
            </div>
            <div class="form-group mb-3">
                <label for="unitShortcut">Skrót</label>
                <input type="text" th:field="*{shortcutName}" class="form-control" id="unitShortcut"
                       placeholder="Skrót jednostki, np. kg">
            </div>

            <button type="submit" class="btn btn-primary">Zapisz</button>
        </form>
    </div>
</section>
</body>
</html>