<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: layout(~{::title}, ~{::section})">
<head>
    <title>Przepisy | Głodny student</title>
</head>
<body>
<section class="my-2">
    <div class="d-flex flex-row align-items-center justify-content-between">
        <div class="card-body">
            <h1>Baza przepisów</h1>
            <h2>Zapisz swoje pomysły</h2>
        </div>
        <img class="section-img" th:src="@{/assets/recipe.png}" alt="ilustracja lodówki">
    </div>
</section>
<section class="my-2">
    <a th:href="@{/recipes/add}" class="btn btn-primary">Dodaj nowy przepis</a>
</section>

<section class="my-2 d-flex flex-row gap-3 flex-wrap">
    <div th:remove="tag" th:each="recipe: ${recipes}">
        <div th:replace="fragments/recipeCard.html:: recipeCard(recipe=${recipe}, cooking='F')"></div>
    </div>
</section>
</body>
</html>